
.maincontainer {
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: #FBF8ED;
    fill: #FBF8ED;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(40, 1fr);
    overflow: hidden;
  }

h1 {
      z-index: 5;
      font-size: 34px;
      position: relative;
      font-family: 'Playfair Display', serif;
      color: #B3D182;
  }
  h2 {
    position: relative;
    font-family: 'Playfair Display', serif;
    color: lightseagreen;
  }


.textcontainer {
    float: left;
    position: relative;
    height: 100vh;
    width: 250px;
    left: 20px;
    padding: 10px;
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    overflow: scroll;
    scroll-behavior: smooth;
    color: #B3D182;
    border: 1px solid #B3D182;
    top: 20px;
    height: 750px;

}

.textcontainer:hover {
    border: 10px solid #B3D182;
    padding: 10px;
}

.box1 {
    margin: auto;
    position: absolute;
    height: 550px;
    width: 400px;
    transform: rotate(25deg);
    left: 700px;
    top: 120px;
    background-color: #B3D182;
    mix-blend-mode: multiply;
    opacity: 90%;
    z-index: 10;
    animation: shape1 6s infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: none;
}



@keyframes shape1 {
    0% {
      background-color:  #FFC185;
      opacity: 80%;
    }
    100% {
      background-color: #B3D182;
      opacity: 80%;
    }
  }

.box2 {
    margin: auto;
    position: absolute;
    height: 550px;
    width: 400px;
    left: 500px;
    top: 60px;
    transform: rotate(-15deg);
    background-color: #31AED4;
    mix-blend-mode: multiply;
    opacity: 90%;
    z-index: 20;
    animation: shape2 6s infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: none;
}

@keyframes shape2 {
    0% {
      background-color:  #31AED4;
      opacity: 80%;
    }
    100% {
      background-color: #A1E2C1;
      opacity: 80%;
    }
  }



@media(max-width:900px) {
  .textcontainer {
    position: relative;
    top: 800px;
  }

  .box1 {
    left: 500px;
  }

  .box2 {
    left: 300px;
  }

}


@media(max-width:700px) {


  .box1 {
    left: 200px;
  }

  .box2 {
    left: 100px;
  }

}

.box3 {
  margin: auto;
  position: absolute;
  float: right;
  right: 1000px;


}